
<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">My Profile</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="{{ url_for('student') }}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{{ url_for('course') }}">Courses</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('book_appointment') }}">Book Appointment</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('my_booking') }}">My Appointments</a>
			  </li>
			{% if session['user_role'] == 'student' %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('club') }}">Clubs</a>
			  </li>
              <li class="nav-item">
				<a class="nav-link" href="{{ url_for('my_club') }}">Memberships</a>
			  </li>
			{% endif %}
			{% if session['user_role'] == 'club_head' %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('club_home') }}">Club Home</a>
			  </li>
			{% endif %}
		  </ul>
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
			</li>
		  </ul>
		</div>
	  </nav>

      <div class="container">
		<h2>My Courses</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Student Major</th>
					<th>Course Name</th>
                    <th>Section Number</th>
					<th>Course Description</th>
                    <th>Course Credits</th>
                    <th>Building Name</th>
                    <th>Staff Name</th>
                    <th>Room Number</th>
				</tr>
			</thead>
			<tbody>
				{%for row in get_details%}
				<tr>
					<td>{{ row['student_major'] }}</td>
					<td>{{ row['course_name'] }}</td>
					<td>{{ row['section_number'] }}</td>
                    <td>{{ row['course_description'] }}</td>
					<td>{{ row['course_credits'] }}</td>
					<td>{{ row['building_name'] }}</td>
                    <td>{{ row['staff_name'] }} </td>
					<td>{{ row['room_number'] }} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
    <br>
    <div class="container">
		<h2>Available Courses</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Course Name</th>
                    <th>Section Number</th>
					<th>Course Description</th>
                    <th>Course Credits</th>
                    <th>Building Name</th>
                    <th>Staff Name</th>
                    <th>Room Number</th>
				</tr>
			</thead>
			<tbody>
				{%for row in get_det%}
				<tr>
					<td>{{ row['course_name'] }}</td>
					<td>{{ row['section_number'] }}</td>
                    <td>{{ row['course_description'] }}</td>
					<td>{{ row['course_credits'] }}</td>
					<td>{{ row['building_name'] }}</td>
                    <td>{{ row['staff_name'] }} </td>
					<td>{{ row['room_number'] }} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>
